/* Custom CSS Properties */
:root {
  --ui: #1d2733;
  --orange: #ff9000;
}

body{
  font-family: 'Changa', sans-serif;
}

/* Utility Classes */
.flex {
  display: flex;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

header > div{
  justify-content: space-between;
  background-color: var(--ui);
  color: white;
  padding: 0.5rem;
}

header a{
  text-decoration: none;
  color: white;
  flex-direction: column;
  align-items: center;
  padding: 0.25rem 0.5rem;
}

header a.user-controls:hover{
  background-color: var(--orange);
  border-radius: 5px;
  color: var(--ui);
  transition: all 0.25s ease-in-out;
}

h1 {
  color: var(--orange);
  line-height: 0.5;
}

h1 div {
  align-items: center;
}

h1 span {
  font-size: 3rem;
}

h1 img {
  width: 2.5rem;
}

.app-bar ul {
  gap: 0.5rem;
}

.app-bar svg {
  height: 1rem;
}

li{
  list-style: none;
}

div.products {
  margin-left: 16rem;
  padding-top: 4rem;
  flex-wrap: wrap;
  gap: 1.5rem;
}

div.card{
  max-width: 20rem;
  box-shadow: 0 0 2px 2px #d6d3d1;
  border-radius: 0.3rem;
}

div.side-bar{
  background-color: var(--ui);
  width: 10%;
  height: 100vh;
  position: fixed;
  top: 6rem;
  left: 0;
}

.dash-nav {
  position: relative;
}

div.product-properties {
  background-color: #f3f3f3;
}

.product-image label {
  font-size: 14px;
  font-weight: 300;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  box-shadow: 0 0 1px 1px #d6d3d1;
}